<%- include("partials/header") -%>
<%- include("partials/banner") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>April Class Times</h1>

    <div class="mb-3">
      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-6">
          <img src="images/class-img.jpg" class="classes-height" alt="Tuesday Class">
        </div>
        <div class="col-lg-6">
          <div class="p-4">
            <h4 class="card-title m-3">TUESDAY NIGHT CLASSES</h4>
            <div>
              <!-- <h5 style="color: red;">CLOSED FOR SUMMER</h5> -->
              <p>Swing Central offers dance lessons every Tuesday night in central Wellington.</p>
              <p>Beginners are ALWAYS welcome and can start any week!</p>
              <p>Location: 80 Cuba Street</p>
              <p>Level 2 / Doors Open: 7:15 pm<br>Level 1 / Beginners: 8:15 pm<br>Freestyle Dance: 9:00 pm</p>
              <div class="casual-pricing">
                <h5>Casual Pricing</h5>
                <p>$12 Full Price<br>$10 Student Price</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="class-event-details" class="lightSection pt-0">
  <div class="container-fluid">
    <h1>Class Timetable from May</h1>

    <div class="mb-3">
      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-6">
          <img src="images/class-img.jpg" class="classes-height" alt="Tuesday Class">
        </div>
        <div class="col-lg-6">
          <div class="p-4">
            <h4 class="card-title m-3">TUESDAY NIGHT CLASSES FROM MAY</h4>
            <div>
              <!-- <h5 style="color: red;">CLOSED FOR SUMMER</h5> -->
              <p>Location: 80 Cuba Street</p>
              <p>Level 3 / Extension: 7:15pm<br>Level 2 / Technique: 8:15pm<br>Level 1 / Beginners: 8:15 pm<br>Freestyle Dance: 9:00 pm</p>
              <div class="casual-pricing">
                <h5>Casual Pricing</h5>
                <p>$12 Full Price<br>$10 Student Price</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="level-descriptions" class="lightSection pt-0">
  <div class="container-fluid">
    <h1>Class Levels</h1>

    <div class="mb-3">
      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-4 col-sm-12">
          <div class="p-4">
            <h4 class="card-title m-3">Level 1 / Beginners</h4>
            <div>
              <p>This is our beginner level, where you are introduced to the basics of West Coast Swing. Suitable for all levels of dancer. From your very first classes to your 3089th. This covers basic patterns and introduces the fundamentals of our dance style.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="p-4">
            <h4 class="card-title m-3">Level 2 / Technique</h4>
            <div>
              <p>These classes build on the basics you learned in Beginners. We focus on adding variety to your moves and technique to your dancing, in an approachable way. There are four modules focusing on developing key skills - Anchor, Stretch, Frame and Compression.</p>

              <p>Suitable for students who are comfortable leading a variety of pushes, passes and tucks.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="p-4">
            <h4 class="card-title m-3">Level 3 / Extension</h4>
            <div>
              <p>This level focuses on extending our more experienced students. Each month has a different theme, introducing new techniques and creative skills to level up your dancing.</p>

              <p>Talk to your teachers about whether this level is right for you!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map" class="lightSection pt-0">
  <div class="container-fluid">
    <h1 class="pt-0 pb-2">Find Us</h1>
    <p>80 Cuba Street, Te Aro Wellington, above OPSM</p>
    <p>Entrance is up the stairs on Dixon Street</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.793667773868!2d174.77430885061028!3d-41.29159484855265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afd70d1257cb%3A0x4ea9316fda08cad!2s80+Cuba+St%2C+Te+Aro%2C+Wellington+6011!5e0!3m2!1sen!2snz!4v1553494497752"
      class="map" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section id="pricing" class="colouredSection">
  <div class="container-fluid  ">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 ">
          <div class="pricingTable my-5 mx-0 mx-auto">
            <div class="pricingTable-header py-4 px-0">
              <h3 class="pass-type mt-0 medium">BEGINNER'S 5-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 45
              </span>
            </div>
            <div class="pricing-content">
              <ul class="small m-0 py-4 px-3">
                <li class="py-3 px-0">5 Nights of Dancing</li>
                <li class="py-3 px-0">Valid for Level 1 Classes Only</li>
                <li class="py-3 px-0">Includes Freestyle</li>
                <li class="py-3 px-0">Valid for 6 Months</li>
              </ul>
              <form action="<%= stripe_uri %>/charge/beginnersfive" class="pb-5" method="POST">
                <input class="referral-source" name="source" type="hidden" value="direct-page" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= stripe_pk %>" data-amount="4500" data-name="Swing Central Ltd"
                  data-description="Beginners Five-Trip Ticket"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                  data-currency="nzd">
                </script>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6  mx-auto">
          <div class="pricingTable my-5 mx-0 mx-auto">
            <div class="pricingTable-header py-4 px-0">
              <h3 class="pass-type mt-0 medium">10-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 90
              </span>
            </div>
            <div class="pricing-content">
              <ul class="small m-0 py-4 px-3">
                <li class="py-3 px-0">10 Nights of Dancing</li>
                <li class="py-3 px-0">Valid for Level 1 to 3 Classes</li>
                <li class="py-3 px-0">Includes Freestyle</li>
                <li class="py-3 px-0">Valid for 6 Months</li>
              </ul>
              <form action="<%= stripe_uri %>/charge/tentrip" class="pb-5" method="POST">
                <input class="referral-source" name="source" type="hidden" value="direct-page" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= stripe_pk %>" data-amount="9000" data-name="Swing Central Ltd"
                  data-description="Regular Ten-Trip Ticket"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                  data-currency="nzd">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
